
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #161B40;
}
.comment .comment-arrow {
  border-color: #02FAE1;
}
#page,
#main-wrapper{
 /* background: #ffffff;*/
  background: url(../images/backgrounds-11.jpg);
}
/**.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #FFFFFF;**/
}
#header {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #02FAE1 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #02FAE1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #02FAE1));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #02FAE1 100%);
  background-image: linear-gradient(top, #0779bf 0%, #02FAE1 100%);
}
a {
  /**color: #FFFFFF;**/
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
 /** background: #FFFFFF;**//
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #0000FF;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a {

  color: 0000ff;
  }